<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Brown Assignment by: Anders Kiss</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
	</head>
	<body>
		<div class="random">
			<h1>This is Random User Information:</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Photo</th>
				</tr>
			</thead>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</body>
</html>
